[Unit]
Description=my application
Documentation=https://example.com
After=network.target

[Service]

Type=simple
User=csye6225
EnvironmentFile=/home/csye6225/webapp/.env
ExecStart=/usr/bin/node /home/csye6225/webapp/server.js
Restart=on-failure

[Install]
WantedBy=multi-user.target