[Unit]
Description=my application
Documentation=https://example.com
After=network.target

[Service]

Type=simple
User=csye6225
Group=csye6225
ExecStart=/bin/bash -c 'DB_USERNAME=$(curl -H "Metadata-Flavor: Google" http://metadata.google.internal/computeMetadata/v1/instance/attributes/db-username) && \
                        DB_PASSWORD=$(curl -H "Metadata-Flavor: Google" http://metadata.google.internal/computeMetadata/v1/instance/attributes/db-password) && \
                        DB_NAME=$(curl -H "Metadata-Flavor: Google" http://metadata.google.internal/computeMetadata/v1/instance/attributes/db-name) && \
                        DB_HOST=$(curl -H "Metadata-Flavor: Google" http://metadata.google.internal/computeMetadata/v1/instance/attributes/db-host) && \
                        /usr/bin/node /home/csye6225/webapp/server.js'
Restart=on-failure

[Install]
WantedBy=multi-user.target